{% extends "layout.html" %}
{% block title %}About {% endblock %}
{% block content %}
<h1>{{ lang.about.what_is_this }}</h1>
<p>{{ lang.about.what_is_this_content }}</p>
<h2>{{ lang.about.points }}</h2>
<p>{{ lang.about.points_content }}</p>
<h2>{{ lang.about.tasks }}</h2>
<p>{{ lang.about.tasks_content1 }}</p>
<p>{{ lang.about.tasks_content2 }}</p>
<h2>{{ lang.about.stars }}</h2>
<p>{{ lang.about.stars_content }}:</p>
<ul>
    <li>{{ levels[0] }} — {{ lang.about.stars_level2 }}</li>
    <li>{{ levels[1] }} — {{ lang.about.stars_level3 }}</li>
    <li>{{ levels[2] }} — {{ lang.about.stars_level4 }}</li>
    <li>{{ levels[3] }} — {{ lang.about.stars_level5 }}</li>
</ul>
<p>{{ lang.about.stars_fame }}</p>
<h2>{{ lang.about.leaderboard }}</h2>
<p>{{ lang.about.leaderboard_content }}</p>
<h2>{{ lang.about.contribute }}</h2>
<p>{{ lang.about.contribute_content }}</p>
{% endblock %}
