{% extends "layout.html" %}
{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
{{ task | safe }}
{% if tobj.changeset %}
<p>{{ lang.thanks }}</p>
{% else %}
<form action="{{ url_for('changeset') }}">
    <p>{{ lang.submit_changeset }} (<a href="javascript:showChangesets()">{{ lang.update_list }}</a>):</p>
    <div id="changesets"></div>
    <p><input type="text" name="changeset" value=""> <input type="submit" value="{{ lang.verify }}"></p>
    <p>{{ lang.time_left }}: {{ timeleft }}.</p>
</form>
<script>
    function showChangesets() {
        function esc(s) {
            return s.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
        }
        $.getJSON("{{ url_for('get_changesets') }}", function(data) {
            var $ch = $('#changesets');
            $ch.empty();
            $ch.show();
            if (data.error) {
                $ch.text(data.error);
                return;
            }
            if (!data.changesets.length) {
                $ch.html('<small>{{ lang.no_changesets }}</small>');
                return;
            }
            var items = [];
            $.each(data.changesets, function(i, ch) {
                items.push('<li><a href="{{ url_for('changeset') }}?changeset='+
                    ch.id+'">'+ch.htime+'</a>: '+esc(ch.comment || '(no comment)')+'</li>');
            });
            $('<ul>'+items.join('')+'</ul>').appendTo($ch);
        });
    }

    $(function() { showChangesets(); });
</script>
{% endif %}
{% endblock %}
