<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{{ lang.title }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ dated_url_for('static', filename='style.css') }}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <header id="header">
            <div class="wrapper">
                <a href="{{ url_for('front') }}">{{ lang.title }}</a>
                <span class="right normal">
                    {% if user %}
                        <span class="link"><a href="{{ url_for('userinfo', uid=user.name) }}">{{ user.name }}</a>: {{ user.score }} {{ '⭐' * user.level }}</span>
                        <span class="link"><a href="{{ url_for('settings') }}">{{ lang.connect }}</a></span>
                    {% else %}
                        <span class="link"><a href="{{ url_for('login') }}">{{ lang.login }}</a></span>
                    {% endif %}
                    <span class="link"><a href="{{ url_for('about') }}">{{ lang.help }}</a></span>
                </span>
            </div>
            <div class="wrapper small">
                {% if user %}
                    <span><a href="{{ url_for('userinfo', uid=user.name) }}">{{ user.name }}</a>: {{ user.score }} {{ '⭐' * user.level }}</span>
                {% endif %}
                <span class="right">
                    {% if user %}
                        <span class="link"><a href="{{ url_for('settings') }}">{{ lang.connect }}</a></span>
                    {% else %}
                        <span class="link"><a href="{{ url_for('login') }}">{{ lang.login }}</a></span>
                    {% endif %}
                    <span class="link"><a href="{{ url_for('about') }}">{{ lang.help }}</a></span>
                </span>
            </div>
        </header>


        <div id="content" class="wrapper">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
