body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
}

.small {
    display: none;
}

.right {
    float: right;
}

.flashes {
    list-style-type: none;
    padding: 0;
    color: darkgreen;
}

@media only screen and (max-width: 479px) {
    .normal {
        display: none;
    }

    .small {
        display: block;
    }
}

@media only screen and (min-width: 940px) {
    .wrapper {
        width: 800px;
        margin: 0 auto;
    }
}

#header {
    padding: 0.5em 0;
    background-color: #335;
    color: #eee;
}

#header a {
    color: #eee;
}

#header .link {
    margin-right: 0.4em;
}

#header .link:last-child {
    margin-right: 0;
}

#task {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3em;
}

#emoji {
    font-size: 100px;
    margin: 0;
}

#userinfo {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}

#userinfo p {
    margin: 0;
}

#userinfo .stars {
    font-size: 120px;
}
